<h1>Editing Topic</h1>

<%= render 'form', topic: @topic %>

<butto type="button" class="btn btn-success"><%= link_to 'Show', @topic ,class: "btn btn-success" %> |
<%= link_to 'Back', topics_path ,class: "btn btn-danger"%>
