$('#exist').empty();
$('#xzy').empty();
<% if params[:date_to] > params[:date_from] %>
  $spost = ''
  <% @sp.each do |f|%>
   $spost += '<%= j render(:partial => "posts/filter",locals: {post:f}) %>';
  <% end %>
  $('#xzy').html($spost);
  $('#paginate').html('<%= j will_paginate @sp, renderer: BootstrapPagination::Rails %>');
  $('.pagination a').attr('data-remote', 'true');
<% else %>
  $("#date_from").attr('style', "border-radius: 1px; border:#FF0000 1px solid;");
  $("#date_to").attr('style', "border-radius: 1px; border:#FF0000 1px solid;");
  $('#xzy').html("<h2> date is out of range </h2>")
  alert("date out of range")
<% end %>