<%= render(partial:'date') %>


<h1>Posts</h1>

<div id="error-page"></div>

<table id="xzy"></table>
<div id ="paginate"></div>
<div id="new_post"></div>
<div id="exist">
<%  if !params[:topic_id].blank? %>
  <%= link_to 'New_Post',  new_topic_post_path(params[:topic_id]) , remote:  true ,id: "new_link",  class: "btn btn-danger" %>
<% end %>

<table class="table table-bordered">
  <thead>
  <tr>
    <th><h1>name</h1></th>

  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
        <%= render(partial: "posts/form_display",locals: {post: post}) %>

  <% end %>

  </tbody>
</table>


<br>
<%= will_paginate @posts,renderer: BootstrapPagination::Rails %>
</div>
