h1	{
  color: green;
  font-family: arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: deepskyblue;
}
a {
  color: blue;
}
.pagination {
  li {
    border: 1px soild #ddd !important;
    padding: 8px 16px;
    text-decoration: none;
  }

}


.rating-block{
  border: 4px gold solid;
  padding: 2px;
  margin: 5px;
}
