<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">RAILS</a>
  <form class="form-inline">
    <div style="padding-left: 10px;">
      <% if current_user !=nil %>
        <%= current_user.email %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Log out",destroy_user_session_path  , method: "delete",class:"btn btn-primary" %>
      <% else %>
        <%= link_to "Log in ", new_user_session_path,class:"btn btn-primary" %>
      <% end %>
    </div>
  </form>
</nav>